*.egg-info
*.log
*.mo
*.pyc
*.swp
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
/bin/
/buildout-cache/
/coverage/
/develop-eggs/
/htmlcov/
/include/
/lib/
/local/
/parts/
/var/
output.xml
